ul {
  width: 100%;
  overflow: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #DAADFF;
  font-weight: bold;
}

ul a {
  float: left;
  padding: 1%;
  color: white;
  text-decoration: none;
  font-size: 20px;
  width: 14.66%;
  text-align: center;
  color: #141414;
}

ul a:hover {
  color: #141414;
  background-color: #D992E8;
}

h1{
  text-align: center;
  background-color: #DAADFF;
  padding-top: 5%;
  padding-bottom: 3%;
  margin-bottom: 0;
  font-size: 400%;
  padding-left: 0;
}
