html{
  background-color: #F8FFEE;
  color: #141414;
  font-family: 'Gelasio', serif;
  margin: 0;
}

body{
  margin: 0;
  padding: 0;
}

.body{
  padding: 0 1% 1% 1%;
  margin-left: 10%;
}

hr{
  border-color: #141414;
}

.headshot{
  width: 10%;
  float: right;
  padding-left: 1%;
}
