img{
  width: 40px;
}

.footerlink{
  text-decoration: none;
  color: #242424;
}

.footerlink:hover{
  background-color: #6498FF;
  color: #8A60C2;
}

table{
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.footerbottom{
  margin-bottom: 100px;
}
