.post{
  padding-left: 15%;
  padding-right: 5%;
}

.postimage{
  padding-right: 1%;
  width: 20%;
  padding-bottom: 1%;
}

h6{
  font-size: 200%;
  padding-bottom: 1%;
  margin-bottom: 0;
}

a:hover{
  background-color: white;
}
