ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #DAADFF;
  margin-right: 90%;
  height: 100%;
  position: fixed;
}

li a {
  display: block;
  color: #141414;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

a:hover{
  color: #141414;
  background-color: #519958;
}

h1{
  text-align: center;
  background-color: #DAADFF;
  margin-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 400%;
  padding-left: 0;
}
