.icons{
  width: 40px;
}

.footerlink{
  text-decoration: none;
  color: #242424;
}

.footerlink:hover{
  background-color: #FFFFFF;
  color: #DAADFF;
}

table{
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

footer{
  margin-top: 7%;
}
